Thumbs.db
*.i
*.aps
*.suo
*.vspcc
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.psd
*.lib
*.sbr
*.sdf
*.opensdf
obj/
ipch/
cache*/
_ReSharper*/
[Bb]in*/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
[Dd]ebug_*/
[Hh]ybrid_*/
[Rr]elease_*/
[Qq]t*/
[Uu]pdater*/